body {
  /* background-color: black; */
}

h2 {
  font-family: "Cabin", sans-serif;
  margin: 0.5em 0;
  font-size: 1.5rem;
}

h3 {
  font-family: "Cabin", sans-serif;
  margin: 0.5em 0;
  font-size: 1.25rem;
}

h4 {
  font-family: "Cabin", sans-serif;
  margin: 0.5em 0;
  font-size: 1rem;
}

h1 {
  font-family: "Cabin", sans-serif;
  margin: 0.5em 0;
  font-size: 2.5rem;
}

p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

table {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
}

header {
  width: 100%;
  background-color: grey;
}
header * {
  text-align: center;
}
main {
  margin: auto;
  width: 90%;
  max-width: 85rem;
  min-height: 100vh;
}
main h2 {
  text-align: center;
}

a {
  font-family: "Cabin", sans-serif;
}

footer {
  background-color: grey;
}
img {
  max-width: 100%;
  height: auto;
}

/* header styles go here */

/* main styles go here */

.image-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.site-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body section {
  background-color: rgb(218, 215, 214);
  border: 2px solid rgb(14, 13, 13);
  width: 80%;
  padding: 3rem;
  margin: 3rem auto;
  border-radius: 1rem;
  padding-top: 3rem;
}

/* footer styles go here */

/* font styles go here */

/* background styles go here */

/* table styles go here */
table {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
table * {
  border: 1px solid black;
}
table {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
table * {
  border: 1px solid black;
}
/*image styles go here */

img {
  display: block;
  margin: 1rem auto;
  border-radius: 5px;
}

figcaption {
  font-family: "Cabin", sans-serif;
  font-size: 0.5rem;
  font-style: italic;
  font-size: 0.9em;
  margin-top: 5px;
}
